.EmployeeDashMainContent {
    height: 100vh;
    width: 100%;
    /* background: red; */
    overflow-x: hidden;
    scrollbar-width: 0px;
}

.goodThoughts {
    height: 30vh;
    width: 100%;
}

.cards {
    height: 90vh;
    width: 100%;
}