.leaveNavbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .applyButton,
  .downloadButton {
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    background-color: #007bff; /* Example color */
    color: white;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .downloadButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .year {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
  }

  .leaveBoxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    height: 30vh;
  }
  
  .box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 23vh;
  }
  
  .boxHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
  }

  .boxHeader>span {
    color: #777;
  }
  
  .granted {
    color: #555;
  }
  
  .balance {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .balance span:last-child {
    font-size: 16px;
    color: #777;
  }

  @media (max-width: 768px) {
    .leaveBoxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .box {
        width: 50%;
    }
  }
  
  