.cards {
  height: 100%;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
}

.cards1 {
  height: 100%;
  width: 33%;
}

.cards2 {
  height: 100%;
  width: 33%;
}

.cards3 {
  height: 100%;
  width: 33%;
}

.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 500px;
  height: 30%;
  padding: 20px;
  border: 0.5px solid rgba(213, 212, 212, 0.699);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
  animation: slideLeftToRight 1s ease-out forwards;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.cheader {
  color: gray;
}

.in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cardin1 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 500px;
  height: 20%;
  padding: 20px;
  border: 0.5px solid rgba(213, 212, 212, 0.699);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
  animation: slideRightToLeft 1s ease-out forwards;
}

.cardin1:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.cardin3:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.in1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.in > div {
  margin-top: 30px;
}

.in1 > div > p {
  padding: 5px 0;
  font-size: 13px;
}

.intxt {
  margin-top: 5.5%;
  margin-right: -6.2%;
  height: 100%;
  width: 40%;
  background-color: rgb(248, 229, 195);
  border-radius: 10px 0px 20px 0px;
  font-size: 8px;
  padding: 10px;
}

.intxtPara {
  font-size: small;
  color: gray;
}

.cardin2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 500px;
  height: 40%;
  padding: 20px;
  border: 0.5px solid rgba(213, 212, 212, 0.699);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  margin-bottom: 30px;
  animation: slideLeftToRight 1s ease-out forwards;
}

.cardin2:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.cardin3 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 500px;
  height: 60%;
  padding: 20px;
  border: 0.5px solid rgba(213, 212, 212, 0.699);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
  animation: slideLeftToRight 1s ease-out forwards;
}

.cardin10 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 500px;
  height: 30%;
  padding: 20px;
  border: 0.5px solid rgba(213, 212, 212, 0.699);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
}

.cardinIt {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 500px;
  height: 10%;
  padding: 20px;
  border: 0.5px solid rgba(213, 212, 212, 0.699);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
}

.cardin5{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 500px;
    height: 20%;
    padding: 20px;
    border: 0.5px solid rgba(213, 212, 212, 0.699);
    border-radius: 20px;
    background-color: rgba(203, 234, 241, 0.45);
    backdrop-filter: blur(15px);
    margin-bottom: 10px; 
    animation: slideRightToLeft 1s ease-out forwards;
}

.inSignIn {
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 170%;
}

.dates {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dates>img {
  width: 2%;
}

.dates>p {
  font-size: 12px;
}

.dates>span {
    margin-bottom: 5px;
}

.light {
    font-size: 13px;
    color: gray;
    margin: 10px 0px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(138, 242, 225);
    border-radius: 100px;
}

.bottom {
    display: flex;
    margin-top: 8%;
    justify-content: space-between;
    width: 170%;
}

.bottom>span {
    font-size: 15px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.bottom>button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background: rgb(110, 110, 254);
    color: white;
    cursor: pointer;
}

.bottom>button:hover {
  cursor: pointer;
  background: rgb(80, 80, 185);
  transition: all 1s ease;
}

.in10 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.in11 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 10px;
}

.ho {
 margin: 30px 0;
}

.holiday {
  font-weight: 600;
  color: rgb(68, 68, 68);
}

.holidayEvent {
  font-size: 13px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .cards {
        width: 100%;
        display: block;
    }

    .cards1 {
        width: 100%;
    }

    .cards2 {
        margin-top: 90px;
        width: 100%;
    }

    .cards3 {
        width: 100%;
    }
}